<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="friendship">
            <h2><span jhiTranslate="greetappApp.friendship.detail.title">Friendship</span> {{friendship.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greetappApp.friendship.status">Status</span></dt>
                <dd>
                    <span>{{friendship.status}}</span>
                </dd>
                <dt><span jhiTranslate="greetappApp.friendship.user">User</span></dt>
                <dd>
                    {{friendship.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/friendship', friendship.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
