<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rsvp-heading" jhiTranslate="greetappApp.rSVP.home.createOrEditLabel">Create or edit a RSVP</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rSVP.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rSVP.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="greetappApp.rSVP.rsvpResponse" for="field_rsvpResponse">Rsvp Response</label>
                    <input type="text" class="form-control" name="rsvpResponse" id="field_rsvpResponse"
                        [(ngModel)]="rSVP.rsvpResponse" required/>
                    <div [hidden]="!(editForm.controls.rsvpResponse?.dirty && editForm.controls.rsvpResponse?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rsvpResponse?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="greetappApp.rSVP.greet" for="field_greet">Greet</label>
                    <select class="form-control" id="field_greet" name="greet" [(ngModel)]="rSVP.greet" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="greetOption.id === rSVP.greet?.id ? rSVP.greet : greetOption" *ngFor="let greetOption of greets; trackBy: trackGreetById">{{greetOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="greetappApp.rSVP.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="rSVP.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === rSVP.user?.id ? rSVP.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
