<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gangUser">
            <h2><span jhiTranslate="greetappApp.gangUser.detail.title">Gang User</span> {{gangUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greetappApp.gangUser.role">Role</span></dt>
                <dd>
                    <span>{{gangUser.role}}</span>
                </dd>
                <dt><span jhiTranslate="greetappApp.gangUser.gang">Gang</span></dt>
                <dd>
                    <div *ngIf="gangUser.gang">
                        <a [routerLink]="['/gang', gangUser.gang?.id, 'view']">{{gangUser.gang?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="greetappApp.gangUser.user">User</span></dt>
                <dd>
                    {{gangUser.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gang-user', gangUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
